//.animation-class {
//  border: 1px solid red;
//}
@mixin smoothForAnimation() {
  transition: all 0.7s ease;
}
.girl {
  &__img {
    transform: translateX(-200%);
    opacity: 0;
    @include smoothForAnimation;
    &.animation-class {
      opacity: 1;
      transform: translateX(0);
    }
  }
  & h2 {
    transform: translateX(-100%);
    opacity: 0;
    @include smoothForAnimation;
    &.animation-class {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &__footer {
    transform: translateX(-100%);
    opacity: 0;
    @include smoothForAnimation;
    &.animation-class {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.main-screen {
  &__preview {
    transform: translateX(-200%) translateY(0);
    opacity: 0;
    transition: 1s ease-in-out;
    &.animation-class {
      opacity: 1;
      transform: translateX(0);
    }
    @media screen and (min-width: 768px) {
      transform: translate(130px, 190px);
      &.animation-class {
        transform: translate(130px, 150px);
      }
    }
    @media screen and (min-width: 1200px) {
      transform: translate(300px, 200px);
      &.animation-class {
        transform: translate(300px, 0px);
      }
    }
  }
  &__book {
    opacity: 0;
    @include smoothForAnimation;
    transition-delay: 2s;
    &.animation-class {
      transform: translate(0, -30px) scale(0.4);
      opacity: 1;
    }
    @media screen and (min-width: 768px) {
      &.animation-class {
        transform: translate(-150px,15px) scale(1);
        opacity: 1;
      }
    }
    @media screen and (min-width: 1200px) {
      &.animation-class {
        transform: translate(0, -95px) scale(1.2);
      }
    }
  }
  &__btn {
    opacity: 0;
    @include smoothForAnimation;
    &.animation-class {
      transform: translate(0px, -150px);
      opacity: 1;
    }
    @media screen and (min-width: 768px) {
      &.animation-class {
        transform: translate(165px, 10px);
        opacity: 1;
      }
    }
    @media screen and (min-width: 1200px) {
      transform: translate(345px,210px);
      &.animation-class {
        transform: translate(345px,-210px);
      }
    }
  }
  &__link {
    //opacity: 0;
    //@include smoothForAnimation;
    //transition-delay: 3s;
    //&.animation-class {
    //  opacity: 1;
    //}
  }
}
.project {
  &__title {
    transform: translateY(20px);
    opacity: 0;
    @include smoothForAnimation;
    &.animation-class {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__text {
    transform: translateY(20px);
    opacity: 0;
    @include smoothForAnimation;
    &.animation-class {
      opacity: 1;
      transform: translateY(0);
    }
    &._1 {
      transition-delay: 0.4s;
    }
    &._2 {
      transition-delay: 0.6s;
    }
    &._3 {
      transition-delay: 0.8s;
    }
    &._4 {
      transition-delay: 1s;
    }
  }
}
.how-to-get {
  &__title {
    transform: translateY(20px);
    opacity: 0;
    @include smoothForAnimation;
    &.animation-class {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__text {
    transform: translateY(20px);
    opacity: 0;
    @include smoothForAnimation;
    &.animation-class {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__img {
    transform: translateY(20px);
    opacity: 0;
    @include smoothForAnimation;
    &.animation-class {
      opacity: 1;
      transform: translateY(0);
    }
    @media screen and (min-width: 1200px) {
      &.animation-class {
        opacity: 1;
        transform: translateY(-100px) scale(2);
      }
    }
  }
  &__textarea-wrapper {
    transform: translateY(20px);
    opacity: 0;
    @include smoothForAnimation;
    &.animation-class {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.footer {
  & .measure {
    &__img {
      transform: translateY(20px);
      opacity: 0;
      @include smoothForAnimation;
      &.animation-class {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &__text {
      transform: translateY(20px);
      opacity: 0;
      @include smoothForAnimation;
      &.animation-class {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &__subtext {
      transform: translateY(20px);
      opacity: 0;
      @include smoothForAnimation;
      &.animation-class {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &__instagram {
      transform: translateY(20px);
      opacity: 0;
      @include smoothForAnimation;
      &.animation-class {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  & .cast {
    &__title {
      transform: translateY(20px);
      opacity: 0;
      @include smoothForAnimation;
      &.animation-class {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &__text {
      transform: translateY(20px);
      opacity: 0;
      @include smoothForAnimation;
      &.animation-class {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &__item {
      transform: translateY(20px);
      opacity: 0;
      @include smoothForAnimation;
      &.animation-class {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  & .partners {
    &__title {
      transform: translateY(20px);
      opacity: 0;
      @include smoothForAnimation;
      &.animation-class {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &__item {
      transform: translateY(20px);
      opacity: 0;
      @include smoothForAnimation;
      &.animation-class {
        opacity: 1;
        transform: translateY(0);
      }
    }

  }
}
