.girl {
  padding: 32px 0 0;
  height: 100%;
  min-height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  & .poa {
    position: absolute;
    top: calc(100vh + 103px);
  }
  & h2 {
    font-family: 'Monesta', serif;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;

    color: $black;
  }
  &__img {
    display: flex;
    align-items: center;
    & .img-wrapper {
      position: relative;
      width: 100%;
    }
  }
  &__btn {
    position: absolute;
    bottom: 142px;
    transform: rotate(10deg);
    left: 63px;
    width: 133px;
    height: 25px;
    & p {
      margin: 0;
      padding: 0;

      font-family: 'Proxima', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0;
      text-align: center;

      color: $black;
    }
  }
  &__footer {
    padding: 11px 57px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: url("../img/bg.png");
    background-size: cover;
    & p {
      margin: 0 0 0 13px;
      padding: 0;

      font-family: 'Proxima', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 250;
      line-height: 13px;
      letter-spacing: 0;
      text-align: left;

      color: $trueWhite;
    }
    & .before768 {
      display: block;
    }
    & .after768 {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-areas:
    ". _h2"
    ". _footer";
    grid-template-columns: 55% 45%;
    grid-template-rows: 150px 40px;
    height: 428px;
    min-height: auto;
    & h2 {
      grid-area: _h2;

      width: 280px;

      font-size: 30px;
      line-height: 36px;
      text-align: left;
    }
    & .poa {
      top: calc(100vh - 107px);
    }
    & .img-wrapper {
      & img {
        width: 357px;
      }
    }
    &__btn {
      bottom: 178px;
      left: 83px;
      width: 171px;
      height: 34px;
    }
    &__footer {
      width: 280px;
      grid-area: _footer;
      padding: 9px 0 0;
      background: transparent;
      border-top: 1px solid $brown;
      & p {
        font-size: 12px;
        color: $black;
      }
      & img {
        width: 23px;
        height: 25px;
      }
      & .before768 {
        display: none;
      }
      & .after768 {
        display: block;
      }
    }
  }
}
