.how-to-get {
  padding: 0 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content {
    padding: 0 30px;
  }
  &__title {
    margin: 0 0 45px;
    padding: 30px 10px 12px;

    font-family: 'Monesta', serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 33px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;

    color: $blackTitle;

    border-bottom: 1px solid $brown;
  }
  &__text {
    margin: 0 17px 20px;

    font-family: 'Proxima', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
  }
  &__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 100%;
    }
  }
  &__textarea {
    width: 100%;
    height: 75px;
    padding: 10px;

    resize: none;
    outline: none;

    background: transparent;
    border: 1px solid #A27D57;
    box-sizing: border-box;
    border-radius: 10px;
    &::placeholder {
      font-family: 'Proxima', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 300;
      line-height: 15px;
      letter-spacing: 0;
      text-align: left;

      color: $placeholder;
    }
    &-wrapper {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      padding: 0 47px;
    }
    &-btn {
      cursor: pointer;
      width: 140px;
      padding: 10px 0;
      background: #B2885C;
      border-radius: 10px;

      font-family: 'Monesta', serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0;
      text-align: center;

      color: $trueWhite;
      border: none;

      @include  smooth;
      &:hover {
        color: $brown;
        background: $black;
      }
    }
  }
  @media screen and (min-width: 768px) {
    height: auto;
    padding: 0 0 44px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
    ". _title"
    "_img _content"
    "_img _textarea";
    grid-auto-rows: min-content;
    &__title {
      grid-area: _title;
      max-width: 310px;
    }
    &__text {
      margin: 0 0 20px;
    }
    &__img {
      grid-area: _img;
    }
    &__content {
      padding: 0;
      grid-area: _content;
      max-width: 310px;
    }
    &__textarea-wrapper {
      padding: 0;
      grid-area: _textarea;
      max-width: 320px;
    }
  }
}
