@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.main-screen {
  &__title {
    margin: 0;
    width: 300px;
    top: 49%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    text-transform: uppercase;

    color: black;
    background: url(../img/feathers.png) repeat top right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:after {
      position: absolute;
      bottom: 50px;
      right: 15px;
      content: url("../img/red-feather.png");
    }
  }
  &__content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__preview {
    display: flex;
    width: 200px;
  }
  &__text {
    margin: 0 0 0 10px;
    & p {
      margin: 0;
      padding: 0;

      font-family: 'Proxima', sans-serif;
      font-size: 10px;
      font-style: normal;
      font-weight: 250;
      line-height: 13px;
      letter-spacing: 0;
      text-align: left;

      color: $trueWhite;
    }
  }
  &__book {
    margin: 20px 0 45px;
    position: relative;
    &::before {
      position: absolute;
      bottom: -10px;
      right: 355px;
      z-index: -1;
      content: 'Главное светское событие о красоте';

      font-family: 'Monesta', serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0;
      text-align: left;
      white-space: nowrap;

      color: $brown;
    }
  }
  &__btn {
    padding: 7px 19px;

    font-family: 'Monesta', serif;
    font-size: 12px;
    letter-spacing: 0;
    text-align: left;

    color: $brown;
    background: transparent;

    cursor: pointer;

    border: 0.5px solid $brown;
    box-sizing: border-box;
    border-radius: 10px;
    &.menu__link {
      &:hover {
        color: $trueWhite;
        background: $brown;
      }
    }
  }
  &__link {
    cursor: pointer;
    position: absolute;
    bottom: 86px;
    left: 50%;
    transform: translateX(-50%);
    & p {
      font-family: 'Monesta', serif;
      font-size: 10px;
      letter-spacing: 0;
      text-align: left;
    }
    &::after {
      position: absolute;
      bottom: -53px;
      left: 50%;
      transform: translateX(-50%) scale(2);
      content: url("../img/Arrow.svg");
    }
  }
  @media screen and (min-width: 768px) {
    &__title {
      top: 45%;
      width: 670px;
      font-size: 3.7em;
      &:after {
        position: absolute;
        bottom: 130px;
        right: 35px;
        transform: scale(2);
      }
    }
    &__text {
      margin: 0 0 0 10px;
      & p {
        font-size: 12px;
        line-height: 14px;
      }
    }
    &__book {
      position: relative;
      & img {
        width: 321px;
      }
      &::before {
        bottom: -10px;
        right: -55px;

        font-size: 26px;
      }
      &::after {
        position: absolute;
        bottom: 10px;
        right: -160px;
        content: url(../img/crooked-arrow.svg);
      }
    }
    &__btn {
      border-radius: 20px;
    }
    &__link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      & p {
        font-size: 10px;
        letter-spacing: 0;
        text-align: left;
      }
      & picture,
      & img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8px;
        height: 53px;
        transform: translateY(11px);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    &__title {
      top: 25%;
      width: 1100px;
      font-size: 6em;
      &:after {
        position: absolute;
        bottom: 250px;
        right: 75px;
        transform: scale(3);
      }
    }
    &__text {
      margin: 0 0 0 10px;
      & p {
        width: 300px;
        font-size: 24px;
        line-height: 34px;
      }
    }
    &__book {
      position: relative;
      & img {
        width: 321px;
      }
      &::before {
        bottom: -15px;
        right: 90px;
        font-size: 34px;
      }
      &::after {
        position: absolute;
        bottom: 80px;
        right: -100px;
        content: url(../img/crooked-arrow.svg);
      }
    }
    &__btn {
      border-radius: 20px;
    }
    &__link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      & p {
        font-size: 10px;
        letter-spacing: 0;
        text-align: left;
      }
      & picture,
      & img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8px;
        height: 53px;
        transform: translateY(11px);
      }
    }
  }
}
