.wrapper {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  &--black {
    background: url("../img/bg.png");
    background-size: cover;
  }

  &--white {
    background: url("../img/bg__girl.png");
    background-size: cover;
    min-height: 100%;
  }
  &--project {
    background: url("../img/bg__project.png") no-repeat right;
    background-size: contain;
    position: relative;
    &::after {
      position: absolute;
      content: url("../img/autograph.png");
      bottom: 0;
      right: 0;
    }
    @media screen and (min-width: 768px) {
      &::after {
        right: 115px;
      }
    }
    @media screen and (min-width: 768px) {
      &::after {
        right: 295px;
      }
    }
  }
}
